<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844704254805-m41igm3o7aovm5pr0lib9qb9pp8ieren.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844704254805-m41igm3o7aovm5pr0lib9qb9pp8ieren</string>
	<key>API_KEY</key>
	<string>AIzaSyCzMzFr9oGPHogSfsXIMTBVh3UO6Tf2x-M</string>
	<key>GCM_SENDER_ID</key>
	<string>844704254805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rosabon</string>
	<key>PROJECT_ID</key>
	<string>rosabon-75ee4</string>
	<key>STORAGE_BUCKET</key>
	<string>rosabon-75ee4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844704254805:ios:f042a514f3d5c73998fddc</string>
</dict>
</plist>